@font-face {
  font-family: "Lobster";
  src: url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
}


@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}


.pierre{
  height:50px;
  width: 50px;
  border: none;
  background-color: none;
  box-shadow: 8px 8px 8px #1c1a19;
  border-radius: 0px;
}

.pierre img{
  height:50px;
  width: 50px;
  margin-bottom: 10px;
}


.feuille{
  height:50px;
  width: 50px;
  border: none;
  background-color: none;
  box-shadow: 8px 8px 8px #1c1a19;
  border-radius: 0px;
}

.feuille button{

}

.feuille img{
  height:50px;
  width: 50px;
  margin-bottom: 10px;
}

.ciseaux{
  height:50px;
  width: 50px;
  border: none;
  background-color: none;
  box-shadow: 8px 8px 8px #1c1a19;
  border-radius: 0px;
}

.ciseaux button{
  
}

.ciseaux img{
  height:50px;
  width: 50px;
  margin-bottom: 10px;
}


main{
  width: 100vw;
  height: 100vh;
}

header h1{
  text-align: center;
  color:black;
  font-family: "Lobster";
  font-size: 2em;
  margin: 20px 20px 20px 20px;

}

.challengers{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.player{
  width:30vw;
  height: 70vh;
  /* margin: 20px, 20px, 20px, 20px; */
}

.versus{
  width:20vw;
  height: 70vh;
}

.computer{
  width:30vw;
  height: 70vh;
}


.player_photo{
  width: 30vw;
  max-width: 300px;
  min-width: 50px
  height: 30vh;
  max-height: 300px;
  min-height: 50px;
}

.computer_photo{
  width: 30vw;
  max-width: 300px;
  min-width: 50px
  height: 30vh;
  max-height: 300px;
  min-height: 50px;
}

.versus img{
  width: 20vw;
  max-width: 200px;
  min-width: 40px
  height: 20vh;
  max-height: 200px;
  min-height: 40px;
}




.shifumi_player{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.shifumi_computer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}




/* .shifumi_player button:hover{
  background-color: red;
} */

.shifumi_player .button{
  border : 1px solid #000; padding : 5px;
}
.shifumi_player .button:active{
  background-color : red;
}
.shifumi_player .button:focus{
  border : 3px dotted green;
}
.shifumi_player .button:hover{
  background-color : gray;
}


