@font-face {
  font-family: "Lobster";
  src: url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
}


@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

/* header h1{
  color:blue;
  justify-items: center;
}


main{
  display: flex;
  flex-direction: column;
}

.challengers{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.player{
  width: 30vw;
}

.computer{
  width: 30vw
}

.versus{
  width: 20vw;
}

.player_photo img{
  
  width: 25vw;
  max-width: 600px;
  min-width: 0px
  
  height: 25vh;
  max-height: 300px;
  min-height: 0px;

}

.computer_photo img{
  
  width: 25vw;
  max-width: 600px;
  min-width: 0px
  
  height: 25vh;
  max-height: 300px;
  min-height: 0px;

}

.shifumi_player button{
    
  width: 10vw;
  max-width: 80px;
  min-width: 20px
  
  height: 10vh;
  max-height: 80px;
  min-height: 20px;
}

.shifumi_player{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shifumi_computer button{
    
  width: 10vw;
  max-width: 80px;
  min-width: 20px
  
  height: 10vh;
  max-height: 80px;
  min-height: 20px;
} */

.player_photo{
  height:50px;
  width: 50px;
}

.computer_photo{
  height:50px;
  width: 50px;
}


.pierre{
  height:50px;
  width: 50px;
  border: none;
  background-color: none;
  box-shadow: 8px 8px 8px #1c1a19;
  border-radius: 10px;
}

.pierre button{
  border: none;
  background-color: none;
}

.pierre img{
  height:50px;
  width: 50px;
  margin-bottom: 10px;
}

.feuille{
  height:50px;
  width: 50px;
}

.feuille img{
  height:50px;
  width: 50px;
  margin-bottom: 10px;
}

.ciseaux{
  height:50px;
  width: 50px;
}

.ciseaux img{
  height:50px;
  width: 50px;
  margin-bottom: 10px;
}

.versus img{
  height:50px;
  width: 50px;
}

.player_photo{
  height:50px;
  width: 50px;
}
.player_photo{
  height:50px;
  width: 50px;
}

main{
  width: 100vw;
  height: 100vh;
}

header h1{
  text-align: center;
  color:black;
  font-family: "Lobster";
  font-size: 2em;
  margin: 20px 20px 20px 20px;

}

.challengers{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.player{
  width:30vw;
  margin: 20px, 20px, 20px, 20px;
}

.computer{
  width:30vw;
  margin: 20px, 20px, 20px, 20px;
}

.versus{
  width:20vw;
}